@model UserPasswordChangeDto
@{
    Layout = "_Layout";
    ViewData["Title"] = "Password Change";
}

<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="text-center"><span class="fas fa-key"></span> Şifre Değiştir</h4>
            </div>
            <div class="card-body">
                <form asp-action="ChangePassword" asp-controller="Users" asp-area="Admin" method="post">
                    <div class="form-group">
                        <label asp-for="CurrentPassword"></label>
                        <input type="password" placeholder="Parolanızı Giriniz." class="form-control" asp-for="CurrentPassword" />
                        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input type="password" placeholder=" Yeni Parolanızı Giriniz." class="form-control" asp-for="NewPassword" />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RepeatPassword"></label>
                        <input type="password" placeholder=" Yeni Parolanızı Tekrar Giriniz." class="form-control" asp-for="RepeatPassword" />
                        <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"><span class="fas fa-save"></span> Kaydet</button>
                        <a class="btn btn-danger btn-block" asp-area="Admin" asp-controller="Home" asp-action="Index"><span class="fas fa-times"></span> İptal</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
