@model UserLoginDto
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Giriş Yap</h3></div>
                <div class="card-body">
                    <form method="post" asp-action="Login">
                        <div asp-validation-summary="All" class="text-danger">
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputEmailAddress">Email</label>
                            <input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Email Adresinizi Giriniz." asp-for="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputPassword">Parola</label>
                            <input class="form-control py-4" id="inputPassword" type="password" placeholder="Parolanızı Giriniz." asp-for="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                <label class="custom-control-label" for="rememberPasswordCheck">Şifre mi Hatırla</label>
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button class="btn btn-primary" type="submit">Giriş Yap</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="small"><a asp-controller="Auth" asp-action="Register">Hesabınız Yok mu? Hesap Oluştur!</a></div>
                </div>
            </div>
        </div>
    </div>
</div>